@use "variables.scss";

@font-face {
    font-family: "Noto Sans";
    src: url("@assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Fira Code";
    src: url("@assets/fonts/FiraCode-Regular.ttf");
}

@font-face {
    font-family: "Jet Brains Mono";
    src: url("@assets/fonts/JetBrainsMonoNL-Regular.ttf");
}

html {
    font-family: "Noto Sans";
    background-color: var(--bg);
}

p {
    line-height: 1.7;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Code";
    font-weight: 800;
    line-height: 1.5;
}

code:not(.nglobal) {
    font-family: "Jet Brains Mono";
    line-height: 1.1em;
    font-size: 0.9em;
}

:not(pre) > code:not(.nglobal) {
    background-color: var(--fg-transparent);
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
}

blockquote {
    margin: 0;
    padding: 0em 1.5em;

    box-sizing: border-box;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 100%;
    overflow: hidden;
    background-color: var(--fg-transparent);
}
