@use "sass:map";

:root {
    --bg: #fdfdfd;
    --fg: rgba(0, 0, 0, 0.06);

    --border-radius: 0.3em;
    --gap: 4px;
}

$colors: (
        "red": 0,
        "sat": 0.8,
        "val": 1.01,
    ),
    (
        "yellow": 45,
        "sat": 1.1,
        "val": 0.93,
    ),
    (
        "green": 90,
        "val": 0.95,
    ),
    (
        "blue": 189,
    ),
    (
        "purple": 264,
    ),
    (
        "gray": 0,
        "sat": 0,
    );

@function try-get($map, $key, $default) {
    $val: map.get($map, $key);
    @if $val == null {
        $val: $default;
    }
    @return $val;
}

@function key($map, $index) {
    @return nth(nth($map, $index), 1);
}

@function val($map, $index) {
    @return nth(nth($map, $index), 2);
}

:root {
    @each $val in $colors {
        $name: key($val, 1);
        $hue: val($val, 1);

        $sat: try-get($val, "sat", 1);
        $val: try-get($val, "val", 1);

        --#{$name}-900: hsl(#{$hue}, #{$sat * 90%}, #{$val * 97%});
        --#{$name}-800: hsl(#{$hue}, #{$sat * 91%}, #{$val * 96%});
        --#{$name}-700: hsl(#{$hue}, #{$sat * 92%}, #{$val * 92%});
        --#{$name}-600: hsl(#{$hue}, #{$sat * 93%}, #{$val * 88%});
        --#{$name}-100: hsl(#{$hue}, #{$sat * 94%}, #{$val * 64%});
        --#{$name}:/**/ hsl(#{$hue}, #{$sat * 96%}, #{$val * 50%});
    }
}
