@font-face {
    font-family: "Noto Sans";
    src: url("$fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Fira Code";
    src: url("$fonts/FiraCode-Regular.ttf");
}

@font-face {
    font-family: "Jet Brains Mono";
    src: url("$fonts/JetBrainsMonoNL-Regular.ttf");
}

html {
    font-family: "Noto Sans";
}

p {
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Code";
    font-weight: 800;
    line-height: 1.5;
}

h1:after {
    content: " ";
    display: block;
    border: 1px dashed black;
}

h2:after {
    content: " ";
    display: block;
    border: 0.5px solid rgb(145, 145, 145);
}

code:not(.nglobal) {
    font-family: "Jet Brains Mono";
    line-height: 1.1em;
    font-size: 0.9em;
}

:not(pre) > code:not(.nglobal) {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
}
