@use "sass:map";

:root {
    --bg: #fdfdfd;
    --fg-transparent: rgba(0, 0, 0, 0.04);

    --button-disabled: #737373;

    --border-radius: 0.3em;
    --gap: 4px;
}

$colors: (
        "red": 0,
    ),
    (
        "yellow": 45,
        "sat": 1.1,
        "val": 0.93,
    ),
    (
        "green": 90,
        "val": 0.95,
    ),
    (
        "blue": 189,
    ),
    (
        "purple": 264,
    ),
    (
        "gray": 0,
        "sat": 0,
    );

@function try-get($map, $key, $default) {
    $val: map.get($map, $key);
    @if $val == null {
        $val: $default;
    }
    @return $val;
}

@function key($map, $index) {
    @return nth(nth($map, $index), 1);
}

@function val($map, $index) {
    @return nth(nth($map, $index), 2);
}

:root {
    @each $val in $colors {
        $name: key($val, 1);
        $hue: val($val, 1);

        $sat: try-get($val, "sat", 1);
        $val: try-get($val, "val", 1);

        --#{$name}-light-: hsl(#{$hue}, #{$sat * 90%}, #{$val * 99%});
        --#{$name}-light: hsl(#{$hue}, #{$sat * 90%}, #{$val * 96%});
        --#{$name}-light_: hsl(#{$hue}, #{$sat * 90%}, #{$val * 88%});
        --#{$name}-medium: hsl(#{$hue}, #{$sat * 90%}, #{$val * 76%});
        --#{$name}-dark: hsl(#{$hue}, #{$sat * 90%}, #{$val * 60%});
    }
}
